{{- define "title" }}{{ T "archive" }} - {{ .Site.Title }}{{ end -}}

{{- define "content" }}
  <h1 style="color: #c05a4d;">Intro</h1>
  <h3>My name is Hoàng Duy Chinh. I’m 24 years old, currently, 
    I have more than 2 years of programming experience. I like working with ruby, ruby ​​on rails or other backend languages. 
    If you want to contact me, please look down at the information below.
  </h3>
  <h1 style="color: #c05a4d;">Education</h1>
  <h3>Bachelor of Science Computer Software Engineering at VNUHCM - University of Science. (2013 - 2017)</h3>
  <h3>GPA: 7.4/10</h3>
  <h1 style="color: #c05a4d;">Contact</h1>
  <h3>Skype: <span>duychinh1995</span></h3>
  <h3>Email: <span>hduychinh@gmail.com</span></h3>
  <h3>Phone: <span>0972-159-308</span></h3>
{{- end }}
